body {
    font-family: 'Times New Roman', Times, serif;
}

#header {
    display: flex;
    background-color: #e6e6e6;
    width: auto;
    /* height: 250px; */
    font-size: 50px;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    margin-bottom: 50px;
}

/* .headerbutton:hover { */
/*     background-color: skyblue; */
/**/
/* } */
.mainPage_button {
    background-color: #e6e6e6;
    width: auto;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    margin-left: 2%;
    font-size: 24px;
}

.mainPage_button:hover {
    background-color: #ff8552;
}


#userpicture {
    margin-left: auto;
    width: 70px;
    height: 70px;
}

.bold {
    font-weight: bold;
}

.loginbox {
    margin-top: 40px;
    display: flex;
    background-color: #D8D8D8;
    width: 300px;
    font-size: 24px;
    border-radius: 15px;
    padding: 20px;
    /* justify-items: center; */
    /* align-content: center; */
    /* justify-content: center; */
    /* margin: auto; */
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    text-align: center;

}

.inputs {
    margin-top: 5px;
    display: flex;
    gap: 6px;
    flex-direction: column;

}

#password,
#username {
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 10px; */
    /* gap: 10px; */
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;

}

#loginbutton~a {

    color: #00B0F0;
}

#loginbutton {

    color: white;
    background-color: #1F477D;
    width: 80px;
    border: none;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 6px;
    margin-bottom: 10px;

}

#createaccount {
    color: #00B0F0;

}

.linkbutton {
    text-decoration: none;
}
