

body {
    background-color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0 auto;
}
.header{

    background-color: lightgrey;
    border-radius: 1rem;
    width: 99%;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
}
.choosefile {
    background-color: rgb(81, 81, 81);
    color: white;
}
.createpost {
    background-color: rgba(4, 4, 194, 0.886);
    color: white;
    align-self: flex-end;
}
.container {
    display: flex; /* Use flexbox for horizontal alignment */
    flex-direction: row;
    justify-content: space-between; /* Space between boxes */
    align-items: stretch; /* Align boxes to the top */
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
}
.box {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    align-items: center;
    width: 60%;
    padding-top: 15%;
    padding-bottom: 15%;
    margin: 0 auto;
    justify-content: space-between;
}


.subbox1 {
    display: flex;
    flex-direction: row;
}
.subbox2 {
    place-content: center;
}
h1 {
    color: black;
    text-align: left;
    margin-left: 20px;
}

.mainPage_button {
    background-color: lightgray;
    height: 8vh;
    width: auto;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    margin-left: 2%;
}

.mainPage_button:hover{
    background-color: dodgerblue;
}

.mainPage_button:hover h1{
    color: #e8e8e8;
}

.addPost_button{
    margin-left: 0;
}

.mainPage_buttonText {
    color: black;
    text-align: center;
    justify-content: left;
    font-family: "Times New Roman";
    font-size: clamp(24px, 3vw, 48px);
    min-font-size: 24px;
    margin: 0;
}

.header_container {
    display: flex; /* Use flexbox for horizontal alignment */
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;

}

.header_profilePic {
    border-radius: 1rem;
    height: 20vh;
    width: auto;
    max-height: 100px;
    margin-left: auto;
    margin-right: 1%;
}

.mainPage_verticalBox {
    background-color: lightgray;
    border-radius: 1rem;
    width: 15%;
    text-align: right;
    margin: 5px;

}

.mainPage_centerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: auto;
}

.mainPage_Post {
    background-color: #e8e8e8;
    border-radius: 1rem;
    align-items: center;
    width: 90%;
    min-height: 10vh;
    height: auto;
    overflow: visible;
    margin: 1vh;
}

.Date {
    font-family: "Courier New";
    color: dimgrey;
    font-size: 16px;
    margin-top: 5px;
    text-align: right;
    margin-right: 10px;

}

.postPic {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 1rem;

}

.postText {
    font-size: clamp(16px, 3vw, 48px);
    margin: 2vh;
    margin-left: 5%;
}

.profilePic {
    border-radius: 1rem;
    height: 20vh;
    width: auto;
    max-height: 80px;
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.profilePic-date-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.likeButton {
    height: 8vh;
    width: auto;
    max-height: 50px;
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#christmas_Date {
    color: crimson;
    font-family: "Comic Sans MS";
  }


@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
}
