body {
    background-color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0 auto;
}

.header {
    background-color: lightgrey;
    border-radius: 1rem;
    width: 99%;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.choosefile {
    background-color: rgb(81, 81, 81);
    color: white;
    font-size: x-large;
}

.createpost {
    background-color: rgba(4, 4, 194, 0.886);
    color: white;
    align-self: flex-end;
    font-size: x-large;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

p {
    font-size: 1.5rem;
    margin: 30px;
}

.box {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    align-items: center;
    width: 60%;
    height: 300px;
    margin: 0 auto;
    justify-content: space-evenly;
}

.subbox1 {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subbox2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: black;
    text-align: left;
    margin-left: 20px;
}

.textarea {
    width: 90%;
    background-color: #f9f9f9;
    outline: none;
}

.mainPage_button {
    background-color: lightgray;
    height: 8vh;
    width: auto;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    margin-left: 2%;
}

.mainPage_button:hover {
    background-color: dodgerblue;
}

.mainPage_button:hover h1 {
    color: #e8e8e8;
}

.addPost_button {
    margin-left: 0;
}

.header h1 {
    color: black;
    text-align: center;
    justify-content: left;
    font-family: "Times New Roman";
    font-size: clamp(24px, 3vw, 48px);
    margin: 0;
}

.header_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.header_profilePic {
    border-radius: 1rem;
    height: 20vh;
    width: auto;
    max-height: 100px;
    margin-left: auto;
    margin-right: 1%;
}

.mainPage_verticalBox {
    background-color: lightgray;
    border-radius: 1rem;
    width: 15%;
    text-align: right;
    margin: 5px;

}

.mainPage_centerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: auto;
}

.mainPage_Post {
    background-color: #e8e8e8;
    border-radius: 1rem;
    align-items: center;
    width: 90%;
    /* min-height: 10vh; */
    height: auto;
    overflow: visible;
    margin: 1vh;
}


.postPic {
    /* max-width: 100%; */
    max-height: 1000px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 1rem;

}


.profilePic {
    border-radius: 1rem;
    height: auto;
    width: auto;
    max-height: 80px;
    margin: 10px;
}

.dropdown img {
    height: auto;
    width: auto;
    max-height: 80px;
    margin: 10px;
    right: 0;
}

.userName {
    margin: 0;
    font-size: 24px !important;
    font-weight: bold;
}

.profilePic-date-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;

}

.profilePic-date-container>p {
    font-family: "Courier New";
    color: dimgrey;
    font-size: 16px;
}

.profilePic-date-container>p+p {
    margin: auto;
    margin-right: 10px;
}

.likeButton {
    height: 8vh;
    width: auto;
    max-height: 50px;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#christmas_Date {
    color: crimson;
    font-family: "Comic Sans MS";
}


@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    font-size: 16px;
}

/* Links inside the dropdown */
.dropdown-content p,
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: inherit;
    /* Use the font size set on .dropdown-content */
    margin: 0;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}
